/* Set background image for the body */
body {
    background-image: url(unsplash.jpg); /* Sets the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-attachment: fixed; /* Fixes the background image in place when scrolling */
    background-position: center; /* Centers the background image horizontally and vertically */
    background-size: cover; /* Ensures the background image covers the entire viewport */
}

/* Style for h1 elements */
h1 {
    background: linear-gradient(to right, skyblue, limegreen); /* Apply a gradient background */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-attachment: fixed; /* Fixes the background in place when scrolling */
}

/* Style for p elements */
p {
    background: linear-gradient(to left, skyblue, limegreen); /* Apply a gradient background */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-attachment: fixed; /* Fixes the background in place when scrolling */
}
